body {
    background-color: #17181f;
    color: #aaa;
}

* {
    box-sizing: border-box;
}

main {
    max-width: 300px;
    margin: 20px auto;
}

form {
    border: 3px solid #30313D;
    border-radius: 10px;
    padding: 5px;
    display: flex;
}

form input[type="text"] {
    background: none;
    border: 0;
    padding: 0 8px;
    display: block;
    width: 100%;
    color: #fff;
}

form button {
    background-color: #61DAFB;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

div.task {
    background-color: #20212D;
    border-radius: 10px;
    padding: 5px 9px;
    margin-top: 5px;
    display: flex;
}

div.task svg{
    height: 20px;
    margin-right: 4px;
    margin-left: 4px;
    fill:#61DAFB;;
}
div.task.done{
    opacity: 0.3;
    text-decoration: line-through;
}
.sign {
    font-size: 25px;
   margin: 4px;
}
